@{
    ViewData["Title"] = "Curriculo";
}

<div class="text-center">
    <h1 class="display-4">Bernardo Augusto Soder</h1>
    <br>
	<label>Contato profissional</label>
    <br>
    <a href="www.linkedin.com">Linkedin</a>
    <br>
    <br>
    <div style="display: inline-flex">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">EXCEL Avançado</h5>
            <p class="card-text">SENAC 2023</p>
            <a href="#" class="btn btn-primary">Certificado Digital</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Inglês Intermediário</h5>
            <p class="card-text">SKYLIMIT Idiomas 2021-2024</p>
            <a href="#" class="btn btn-primary">Certificado Digital</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Técnico em Informática</h5>
            <p class="card-text">SENAC 2024-2026</p>
            <a href="#" class="btn btn-primary">Certificado Digital</a>
        </div>
	</div>
	</div>
</div>
